
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://drive.google.com/file/d/1iLYz6AU9-JMZcO9lVP3konnENesLp7F1/view?usp=sharing">CV</a></li>
				
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shikharseth15@gmail.com">email</a></li>
	        		<li><a href="https://github.com/xerxes01">github</a></li>
				<li><a href="https://linkedin.com/shikharseth15">linkedin</a></li>
				<li><a href="https://scholar.google.co.in/citations?user=wZ4-sZUAAAAJ&hl=en">scholar</a></li>
				<li><a href="https://facebook.com/shikhar.seth.7">facebook</a></li>
				</ul>
			</footer>
		</body>
	
